header {
    font-size: 65%;
}

footer {
    font-size: 100%;
}

ul {
    padding: 0%;
    margin: 0%;
    text-align: left;
}

li {
    font-size: 55%;
}

.en-tete img {
    height: 4px;
    overflow: hidden;
}

.en-tete {
    font-size: 65%;
}

.menu__community {
    width: 75%;
    margin-left: 12%;
    height: 100%;
}

.container-accueil {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.btn {
    margin-bottom: 20%;
}

.menu__community:hover {
    opacity: inherit;
    font-size: inherit;
}