header {
    font-size: 65%;
}

footer {
    font-size: 100%;
}

ul {
    padding: 0%;
    margin: 0%;
    text-align: left;
}

li {
    font-size: 55%;
}

.en-tete img {
    height: 4px;
    overflow: hidden;
}

.en-tete {
    font-size: 65%;
}

.menu__community {
    width: 75%;
    margin-left: 12%;
    height: 100%;
}

.container-accueil {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: column;
}

.btn {
    margin-bottom: 20%;
}

.menu__community:hover {
    opacity: inherit;
    font-size: inherit;
}