body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

header {
  background-color: #549c84;
  width: 100%;
}
header h1 {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fdcb46;
  font-family: "Archivo Black", sans-serif;
  font-size: 300%;
  text-align: center;
  font-weight: lighter;
  padding: 3%;
}

i {
  color: #f745a4;
  padding-top: 2%;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  text-align: center;
}

footer {
  background-color: #549c84;
  color: #fdcb46;
  font-family: "Archivo Black", sans-serif;
  font-size: 150%;
  padding: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  bottom: 0;
}
footer div:hover {
  cursor: pointer;
  -webkit-animation: wiggle 300ms infinite;
  animation: wiggle 800ms infinite;
  display: block;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
ul {
  list-style: none;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 125%;
}

.titre {
  font-weight: lighter;
  font-size: 175%;
}
.titre__note-enchantee {
  font-family: "Devonshire", serif;
  color: #5f2e34;
}
.titre__note-enchantee__title {
  font-family: Arial;
  font-weight: bold;
  margin-top: 5%;
  color: black;
}
.titre__note-enchantee__big {
  font-size: 220%;
}
.titre__chic-a-la-francaise {
  font-family: "Croissant One", serif;
  background: -webkit-gradient(linear, left top, right top, from(#dc8527), to(#8f5afe));
  background: -o-linear-gradient(left, #dc8527 0%, #8f5afe 100%);
  background: linear-gradient(to right, #dc8527 0%, #8f5afe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 150%;
}
.titre__chic-a-la-francaise__title {
  font-family: Arial;
  font-weight: bold;
  margin-top: 5%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.titre__chic-a-la-francaise__big {
  font-size: 220%;
}
.titre__delice-des-papilles {
  font-family: "Dancing Script", serif;
  background: -webkit-gradient(linear, left top, right top, from(#0227dc), to(#0fc2f8));
  background: -o-linear-gradient(left, #0227dc 0%, #0fc2f8 100%);
  background: linear-gradient(to right, #0227dc 0%, #0fc2f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titre__delice-des-papilles__title {
  font-family: Arial;
  font-weight: bold;
  margin-top: 5%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.titre__delice-des-papilles__big {
  font-size: 220%;
}
.titre__palette-du-gout {
  font-family: "Kaushan Script", serif;
  background: -webkit-gradient(linear, left top, right top, from(#3e923a), to(#beff7f));
  background: -o-linear-gradient(left, #3e923a 0%, #beff7f 100%);
  background: linear-gradient(to right, #3e923a 0%, #beff7f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titre__palette-du-gout__title {
  font-family: Arial;
  font-weight: bold;
  margin-top: 5%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.titre__palette-du-gout__big {
  font-size: 220%;
}

.sous-titre {
  font-weight: lighter;
  font-size: 175%;
}
.sous-titre__note-enchantee {
  font-family: "Comic Sans MS", serif;
  color: #5f2e34;
}
.sous-titre__note-enchantee__inline-block {
  display: inline-block;
  font-family: "Devonshire", serif;
  font-size: 220%;
  color: #5f2e34;
}
.sous-titre__chic-a-la-francaise {
  font-family: "Abril Fatface", serif;
  color: #e38a12;
}
.sous-titre__delice-des-papilles {
  font-family: "Comic Sans MS", serif;
  color: #0227dc;
}
.sous-titre__palette-du-gout {
  font-family: "Comic Sans MS", serif;
  color: #3e923a;
}

.menu {
  margin: 5%;
  width: 25%;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 5px 5px #E0E0E0;
          box-shadow: 5px 5px 5px 5px #E0E0E0;
  height: 32.5rem;
}
.menu .content-accueil {
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  -o-transition: transform 500ms, opacity 500ms;
  transition: transform 500ms, opacity 500ms;
  transition: transform 500ms, opacity 500ms, -webkit-transform 500ms;
  text-align: center;
  padding-top: 50%;
  padding-bottom: 50%;
}
.menu .content-accueil:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.18, 1.18);
      -ms-transform: scale(1.18, 1.18);
          transform: scale(1.18, 1.18);
}
.menu__note-enchantee {
  background-color: #fee0dc;
}
.menu__note-enchantee__solo {
  padding: 5%;
  margin-bottom: 15%;
  width: 75%;
  display: inline-block;
  font-family: "Kalam", serif;
  height: auto;
  font-size: 120%;
  height: 100%;
}
.menu__chic-a-la-francaise {
  background-color: #fff5fe;
}
.menu__chic-a-la-francaise__solo {
  padding: 5%;
  margin-bottom: 15%;
  width: 75%;
  display: inline-block;
  font-family: "Kameron", serif;
  height: auto;
  font-size: 120%;
  height: 100%;
}
.menu__delice-des-papilles {
  background-color: #FAFAFA;
}
.menu__delice-des-papilles__solo {
  padding: 5%;
  margin-bottom: 15%;
  width: 75%;
  display: inline-block;
  font-family: "Kalam", serif;
  height: auto;
  font-size: 120%;
  height: 100%;
}
.menu__palette-du-gout {
  background-color: #ffffff;
}
.menu__palette-du-gout__solo {
  padding: 5%;
  margin-bottom: 15%;
  width: 75%;
  display: inline-block;
  font-family: "Kalam", serif;
  height: auto;
  font-size: 120%;
  height: 100%;
}

.container-accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.en-tete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.en-tete img {
  height: 0.75em;
  width: 30%;
}
.en-tete p {
  font-size: 150%;
  position: relative;
}
.en-tete p:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  background: black;
  -webkit-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
.en-tete p:hover:after {
  width: 100%;
  left: 0;
  background: black;
}
.en-tete__chic-a-la-francaise__one {
  color: #e38a12;
}
.en-tete__chic-a-la-francaise__one > p {
  position: relative;
}
.en-tete__chic-a-la-francaise__one > p:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  background: #e38a12;
  -webkit-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
.en-tete__chic-a-la-francaise__one > p:hover:after {
  width: 100%;
  left: 0;
  background: #e38a12;
}
.en-tete__chic-a-la-francaise__one + div {
  color: #e38a12;
}
.en-tete__chic-a-la-francaise__two {
  color: #ab70a0;
}
.en-tete__chic-a-la-francaise__two > p {
  position: relative;
}
.en-tete__chic-a-la-francaise__two > p:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  background: #ab70a0;
  -webkit-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
.en-tete__chic-a-la-francaise__two > p:hover:after {
  width: 100%;
  left: 0;
  background: #ab70a0;
}
.en-tete__chic-a-la-francaise__two + div {
  color: #ab70a0;
}
.en-tete__chic-a-la-francaise__three {
  color: #6e4ccc;
}
.en-tete__chic-a-la-francaise__three > p {
  position: relative;
}
.en-tete__chic-a-la-francaise__three > p:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  background: #6e4ccc;
  -webkit-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
.en-tete__chic-a-la-francaise__three > p:hover:after {
  width: 100%;
  left: 0;
  background: #6e4ccc;
}
.en-tete__chic-a-la-francaise__three + div {
  color: #6e4ccc;
}

.btn {
  margin-bottom: 8%;
  font-size: 175%;
  background-color: #549c84;
  font-family: "Archivo Black", sans-serif;
  color: #fdcb46;
  border-radius: 10px;
  width: auto;
  display: inline-block;
  padding: 1.5%;
}
.btn > span {
  -webkit-animation: blink 1.4s infinite;
          animation: blink 1.4s infinite;
}
.btn > span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.btn > span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
