ul{
    padding: 0%;
    margin: 0%;
    text-align: left;
}
.en-tete img{
    height: 4px;
    overflow: hidden;
}

.en-tete{
    font-size: 65%;
}
.btn{
    margin-bottom: 8%;
}

.menu {
    height: 65vh;
}

body {
    font-size: 2.5vh;
    background-color: blue;
}