body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

header {
  background-color: #549c84;
}

header h1 {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fdcb46;
  font-family: "Archivo Black", sans-serif;
  font-size: 300%;
  text-align: center;
  font-weight: lighter;
  padding: 3%;
}

i {
  color: #f745a4;
  padding-top: 2%;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  text-align: center;
}

footer {
  background-color: #549c84;
  color: #fdcb46;
  font-family: "Archivo Black", sans-serif;
  font-size: 125%;
  padding: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  bottom: 0;
}

footer div:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 125%;
}

.h2 {
  font-weight: lighter;
  font-size: 175%;
}

.h2__note-enchantee {
  font-family: "Devonshire", serif;
  color: #5f2e34;
}

.h2__note-enchantee__title {
  font-family: Arial;
  font-weight: bold;
  margin-top: 5%;
  color: black;
}

.h2__note-enchantee__big {
  font-size: 220%;
}

.h2__chic-a-la-francaise {
  font-family: "Croissant One", serif;
  background: -webkit-gradient(linear, left top, right top, from(#e38a12), to(#6e4ccc));
  background: linear-gradient(to right, #e38a12 0%, #6e4ccc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h2__chic-a-la-francaise__title {
  font-family: Arial;
  font-weight: bold;
  margin-top: 5%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.h2__chic-a-la-francaise__big {
  font-size: 220%;
}

.h2__delice-des-papilles {
  font-family: "Dancing Script", serif;
  background: -webkit-gradient(linear, left top, right top, from(#0227dc), to(#0f81f8));
  background: linear-gradient(to right, #0227dc 0%, #0f81f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h2__delice-des-papilles__title {
  font-family: Arial;
  font-weight: bold;
  margin-top: 5%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.h2__delice-des-papilles__big {
  font-size: 220%;
}

.h2__palette-du-gout {
  font-family: "Kaushan Script",serif;
  background: -webkit-gradient(linear, left top, right top, from(#3e923a), to(#beff7f));
  background: linear-gradient(to right, #3e923a 0%, #beff7f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h2__palette-du-gout__title {
  font-family: Arial;
  font-weight: bold;
  margin-top: 5%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.h2__palette-du-gout__big {
  font-size: 220%;
}

.h3 {
  font-weight: lighter;
  font-size: 175%;
}

.h3__note-enchantee {
  font-family: "Comic Sans MS", serif;
  color: #5f2e34;
}

.h3__note-enchantee__inline-block {
  display: inline-block;
  font-family: "Devonshire", serif;
  font-size: 220%;
  color: #5f2e34;
}

.h3__chic-a-la-francaise {
  font-family: "Abril Fatface", serif;
  color: #e38a12;
}

.h3__delice-des-papilles {
  font-family: "Comic Sans MS", serif;
  color: #0227dc;
}

.h3__palette-du-gout {
  font-family: "Comic Sans MS", serif;
  color: #3e923a;
}

.menu {
  margin: 5%;
  width: 25%;
  text-align: center;
  -webkit-box-shadow: 5px 5px 5px 5px #E0E0E0;
          box-shadow: 5px 5px 5px 5px #E0E0E0;
}

.menu .content-accueil {
  padding-top: 50%;
  padding-bottom: 50%;
}

.menu__note-enchantee {
  background-color: #fee0dc;
}

.menu__note-enchantee__solo {
  padding: 5%;
  margin-bottom: 15%;
  width: 75%;
  display: inline-block;
  font-family: "Kalam", serif;
  height: auto;
  font-size: 100%;
}

.menu__chic-a-la-francaise {
  background-color: #fff5fe;
}

.menu__chic-a-la-francaise__solo {
  padding: 5%;
  margin-bottom: 15%;
  width: 75%;
  display: inline-block;
  font-family: "Kameron", serif;
  height: auto;
  font-size: 100%;
}

.menu__delice-des-papilles {
  background-color: #FAFAFA;
}

.menu__delice-des-papilles__solo {
  padding: 5%;
  margin-bottom: 15%;
  width: 75%;
  display: inline-block;
  font-family: "Kalam", serif;
  height: auto;
  font-size: 100%;
}

.menu__palette-du-gout {
  background-color: #ffffff;
}

.menu__palette-du-gout__solo {
  padding: 5%;
  margin-bottom: 15%;
  width: 75%;
  display: inline-block;
  font-family: "Kalam", serif;
  height: auto;
  font-size: 100%;
}

.en-tete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.en-tete img {
  height: 12px;
  width: 30%;
}

.en-tete p {
  font-size: 150%;
}

.en-tete__chic-a-la-francaise__one {
  color: #e38a12;
}

.en-tete__chic-a-la-francaise__one + div {
  color: #e38a12;
}

.en-tete__chic-a-la-francaise__two {
  color: #ab70a0;
}

.en-tete__chic-a-la-francaise__two + div {
  color: #ab70a0;
}

.en-tete__chic-a-la-francaise__three {
  color: #6e4ccc;
}

.en-tete__chic-a-la-francaise__three + div {
  color: #6e4ccc;
}

.btn {
  margin-bottom: 8%;
  font-size: 175%;
  background-color: #549c84;
  font-family: "Archivo Black", sans-serif;
  color: #fdcb46;
  border-radius: 10px;
  width: auto;
  display: inline-block;
  padding: 1.5%;
}

.container-accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=main.css.map */