$primary-color: hsl(160, 30%, 47%);
$secondary-color: #fdcb46;
$box-shadow-color: #E0E0E0;
$menu1-color-logo: hsl(328, 92%, 62%);
$menu1-color: #fee0dc;
$menu2-color: #fff5fe;
$menu3-color: #FAFAFA;
$menu4-color: #ffffff;

@mixin defaultMargin{
    margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;
}

@mixin multiColor($one, $two){

    background: linear-gradient(to right, $one 0%, $two 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body{
    @include defaultMargin;
}

header{
    background-color: $primary-color;
    h1{
        @include defaultMargin;
        color: $secondary-color;
        font-family: "Archivo Black", sans-serif;
        font-size: 300%;
        text-align: center;
        font-weight: lighter;
        padding: 3%;
    }
}

i{
    color: $menu1-color-logo;
    padding-top: 2%;
}

main{
    text-align: center;
    .btn{
        margin-bottom: 8%;
        font-size: 175%;
        background-color: $primary-color;
        font-family: "Archivo Black", sans-serif;
        color: $secondary-color;
        border-radius: 10px;
        width: auto;
        display: inline-block;
        padding: 1.5%;
    }
}

.container{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.menu{
    margin: 5%;
    width: 25%;
    text-align: center;
    box-shadow: 5px 5px 5px 5px $box-shadow-color;

    h2{
        font-weight: lighter;
        font-size: 175%;
    }

    h3{
        font-weight: lighter;
        font-size: 175%;
    }
        
    .content{
        padding-top: 50%;
        padding-bottom: 50%;
    }

    &__note-enchantee{
        background-color: $menu1-color;
        h2{
            font-family: "Devonshire", serif;
        }
        h3{
            font-family: "Comic Sans MS", serif;
        }
    }

    &__chic-a-la-francaise{
        background-color: $menu2-color;
        h2{
            font-family: "Croissant One", serif;
            @include multiColor(#e38a12, #6e4ccc);
        }
        h3{
            font-family: "Abril Fatface", serif;
            color: #e38a12;
        }
    }

    &__delice-des-papilles{
        background-color: $menu3-color;
        h2{
            font-family: "Dancing Script", serif;
            @include multiColor(#0227dc, #0f81f8);
        }
        h3{
            font-family: "Comic Sans MS", serif;
            color: #0227dc;
        }
    }

    &__palette-du-gout{
        background-color: $menu4-color;
        h2{
            font-family: "Kaushan Script",serif;
            @include multiColor(#3e923a, #beff7f);
        }
        h3{
            font-family: "Comic Sans MS", serif;
            color: #3e923a;
        }
    }

}

footer{
    background-color: $primary-color;
    color: $secondary-color;
    font-family: "Archivo Black", sans-serif;
    font-size: 125%;
    padding: 1.5%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    div{
        cursor: pointer;
    }
}
