body{
    @include defaultMargin;
}

header{
    background-color: $primary-color;
    width: 100%;
    h1{
        @include defaultMargin;
        color: $secondary-color;
        font-family: "Archivo Black", sans-serif;
        font-size: 300%;
        text-align: center;
        font-weight: lighter;
        padding: 3%;
    }
}

i{
    color: $menu1-color-logo;
    padding-top: 2%;
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    text-align: center;
}

footer{
    background-color: $primary-color;
    color: $secondary-color;
    font-family: "Archivo Black", sans-serif;
    font-size: 150%;
    padding: 1.5%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    div:hover{
        cursor: pointer;
        -webkit-animation: wiggle 300ms infinite;
        animation: wiggle 800ms infinite;
        display: block;
    }
}

@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(15deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(10deg);}
}

ul{
    list-style: none;
}
li{
    display: flex;
    justify-content: space-between;
    font-size: 125%;
}