body{
    @include defaultMargin;
}

header{
    background-color: $primary-color;
    h1{
        @include defaultMargin;
        color: $secondary-color;
        font-family: "Archivo Black", sans-serif;
        font-size: 300%;
        text-align: center;
        font-weight: lighter;
        padding: 3%;
    }
}

i{
    color: $menu1-color-logo;
    padding-top: 2%;
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    text-align: center;
}

footer{
    background-color: $primary-color;
    color: $secondary-color;
    font-family: "Archivo Black", sans-serif;
    font-size: 125%;
    padding: 1.5%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    div{
        cursor: pointer;
    }
}

ul{
    list-style: none;
}
li{
    display: flex;
    justify-content: space-between;
    font-size: 125%;
}