@mixin defaultMargin{
    margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;
}

@mixin multiColor($one, $two){

    background: linear-gradient(to right, $one 0%, $two 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin underline($color){
    transition: all 0.6s;
    &:before {
        content: "";
        width: 0;
        height: 0.1em;
        position: absolute;
        bottom: 0;
        background: $color;
        transition: all 0.3s;
    }
    &:hover {
        &:before {
            margin-top: -30%;
            width: 100%;
            background: $color;
        }
    }
}