$primary-color: hsl(160, 30%, 47%);
$secondary-color: #fdcb46;
$box-shadow-color: #E0E0E0;
$menu1-color-logo: hsl(328, 92%, 62%);
$menu1-color: #fee0dc;
$menu1-color-text: #5f2e34;
$menu2-color: #fff5fe;
$menu3-color: #FAFAFA;
$menu4-color: #ffffff;