.en-tete{
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        height: 0.75em;
        width: 30%;
    }
    p {
        font-size: 150%;
        position: relative;
        @include underline(black);
    }
    &__chic-a-la-francaise{
        &__one{
            color: $chic-color1;
            & > p{
                position: relative;
                @include underline($chic-color1);
            }
            & + div{
                color: $chic-color1;
            }
        }
        &__two{
            color: $chic-color2;
            & > p{
                position: relative;
                @include underline($chic-color2);
            }
            & + div{
                color: $chic-color2;
            }
        }
        &__three{
            color: $chic-color3;
            & > p{
                position: relative;
                @include underline($chic-color3);
            }
            & + div{
                color: $chic-color3;
            }
        }
    }
}