.menu{
    margin: 5%;
    width: 25%;
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px $box-shadow-color;
    height: 32.5rem;
        
    .content-accueil{
        transition: all 400ms;
        
        text-align: center;

        padding-top: 50%;
        padding-bottom: 50%;

        &:hover{
            opacity: 0.5;
            transform: scale(1.2, 1.2);
        }
    }

    &__note-enchantee{
        background-color: $menu1-color;
        &__solo{
            padding: 5%;
            margin-bottom: 15%;
            width: 75%;
            display: inline-block;
            font-family: "Kalam", serif;
            height: auto;
            font-size: 120%;
            height: 100%;
        }
    }

    &__chic-a-la-francaise{
        background-color: $menu2-color;
        &__solo{
            padding: 5%;
            margin-bottom: 15%;
            width: 75%;
            display: inline-block;
            font-family: "Kameron", serif;
            height: auto;
            font-size: 120%;
            height: 100%;
        }
    }

    &__delice-des-papilles{
        background-color: $menu3-color;
        &__solo{
            padding: 5%;
            margin-bottom: 15%;
            width: 75%;
            display: inline-block;
            font-family: "Kalam", serif;
            height: auto;
            font-size: 120%;
            height: 100%;
        }
    }

    &__palette-du-gout{
        background-color: $menu4-color;
        &__solo{
            padding: 5%;
            margin-bottom: 15%;
            width: 75%;
            display: inline-block;
            font-family: "Kalam", serif;
            height: auto;
            font-size: 120%;
            height: 100%;
        }
    }

}

.container-accueil{
    display: flex;
    flex-direction: column;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
}