.menu{
    margin: 5%;
    width: 25%;
    text-align: center;
    box-shadow: 5px 5px 5px 5px $box-shadow-color;
        
    .content-accueil{
        padding-top: 50%;
        padding-bottom: 50%;
    }

    &__note-enchantee{
        background-color: $menu1-color;
        &__solo{
            padding: 5%;
            margin-bottom: 15%;
            width: 75%;
            display: inline-block;
            font-family: "Kalam", serif;
            line-height: 0.5;
            height: auto;
        }
    }

    &__chic-a-la-francaise{
        background-color: $menu2-color;
    }

    &__delice-des-papilles{
        background-color: $menu3-color;
    }

    &__palette-du-gout{
        background-color: $menu4-color;
    }

}